/* Processed by Vite in Eleventy */

/* ==============================================
	Material Design 3 Color & Style System
============================================== */
:root {
	/* Light Theme Color Roles */
	--md-sys-color-primary: #6750a4;
	--md-sys-color-on-primary: #ffffff;
	--md-sys-color-background: #fdf7ff;
	--md-sys-color-surface: var(--md-sys-color-background);
	--md-sys-color-surface-variant: #e7e0ec;
	--md-sys-color-on-surface: #1d1b20;
	--md-sys-color-on-surface-variant: #49454f;
	--md-sys-color-outline: #79747e;
	--md-sys-color-outline-variant: #cac4d0;
	--md-sys-color-shadow: #000000;
	--md-sys-color-warning: #b3261e;
	--md-sys-color-surface-container-high: #e6e0e9;
	--md-sys-color-surface-container-highest: #e0dae3;

	/* Transition Variables */
	--transition-background: background-color 0.2s ease-in-out;
	--transition-color: color 0.2s ease-in-out;
	--transition-outline: outline 0.1s ease-in-out;
	--transition-border: border 0.2s ease-in-out;
	--transition-transform: transform 0.2s ease-in-out;
	--transition-opacity: opacity 0.5s ease-in-out;
	--transition-all: all 0.2s ease-in-out;
	--animation-rotate-360: rotate-360 0.5s linear infinite;
	--border-radius: 8px;
}

@media (prefers-color-scheme: dark) {
	:root {
		/* Dark Theme Color Roles */
		--md-sys-color-primary: #d0bcff;
		--md-sys-color-on-primary: #381e72;
		--md-sys-color-background: #141218;
		--md-sys-color-surface: var(--md-sys-color-background);
		--md-sys-color-on-surface: #e6e1e5;
		--md-sys-color-on-surface-variant: #cac4d0;
		--md-sys-color-outline: #938f99;
		--md-sys-color-outline-variant: #49454f;
		--md-sys-color-warning: #f2b8b5;
		--md-sys-color-surface-container-high: #36343b;
		--md-sys-color-surface-container-highest: #403e45;
	}
}

@keyframes rotate-360 {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(-360deg);
	}
}

/* ==============================================
	General Body and Layout
============================================== */
body {
	font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
	background-color: var(--md-sys-color-background);
	color: var(--md-sys-color-on-surface);
	margin: 0 auto;
	width: 100%;
	min-width: 380px;
	max-width: 600px;

	/** Ensure the body has enough height for footer */
	padding-bottom: 100px;
}

div.container,
div.details-content {
	padding: 16px;
}

header {
	padding: 8px 0;
}

main,
div.container,
div.details-content {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 8px;
	padding-top: 16px;
	padding-bottom: 16px;
	background-color: color-mix(in srgb, var(--md-sys-color-background) 80%, transparent);
	backdrop-filter: blur(1px);
}


/* ==============================================
	Typography (MD3 Type Scale)
============================================== */
h1 {
	font-size: 22px;
	font-weight: 400;
	line-height: 28px;
	margin: 0;
	color: var(--md-sys-color-on-surface);
	text-align: center;
}

div.checkbox-group label span {
	font-size: 14px;
	font-weight: 500;
	line-height: 20px;
	color: var(--md-sys-color-on-surface);
}

div.input-group label
div.select-group label {
	font-size: 12px;
	font-weight: 400;
	line-height: 16px;
	color: var(--md-sys-color-on-surface-variant);
}

div.input-group input[type="number"],
div.select-group select {
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
	color: var(--md-sys-color-on-surface);
}

summary {
	font-size: 14px;
	font-weight: 500;
	line-height: 20px;
}

button.reset-all {
	font-size: 14px;
	font-weight: 500;
	line-height: 20px;
}

div.status {
	font-size: 14px;
	font-weight: 500;
	line-height: 20px;
	height: 20px;
	text-align: center;
	color: var(--md-sys-color-primary);
}

/* div.status[data-type="success"] {
	color: var(--md-sys-color-primary);
} */

div.status[data-type="error"] {
	color: var(--md-sys-color-background);
	background-color: var(--md-sys-color-warning);
}

div.checkbox-group label span[title]::after,
div.input-group label[title]::after,
div.select-group label[title]::after {
	content: " ℹ️ ";
	font-size: 0.9em;
	pointer-events: all;
	cursor: help;
}

/* ==============================================
	Checkbox
============================================== */

div.checkbox-group {
	position: relative;
}

div.checkbox-group label {
	display: flex;
	align-items: center;
	cursor: pointer;
	padding: 8px 52px 8px 8px;
	border-radius: var(--border-radius);
	transition: var(--transition-background);

	/* -webkit-tap-highlight-color: transparent; */
}

div.checkbox-group label:hover {
	background-color: var(--md-sys-color-surface-container-highest);
}

div.checkbox-group label input[type="checkbox"] {
	appearance: none;
	position: relative;
	cursor: pointer;
	width: 18px;
	height: 18px;
	border: 2px solid var(--md-sys-color-outline);
	border-radius: 2px;
	transition: var(--transition-all);

	/* Ensure visual part stays in flow */
	flex-shrink: 0;
}

div.checkbox-group label input[type="checkbox"]:checked {
	background-color: var(--md-sys-color-primary);
	border-color: var(--md-sys-color-primary);
}

/* The checkmark */
div.checkbox-group label input[type="checkbox"]::before {
	content: "";
	display: block;
	position: absolute;
	left: 6px;
	top: 6px;
	width: 0;
	height: 0;
	border: solid var(--md-sys-color-background);
	border-width: 0 0 2px 2px;
	opacity: 0;
	transform: rotate(45deg);
	transition: var(--transition-all);
}

div.checkbox-group label input[type="checkbox"]:checked::before {
	left: 2px;
	top: 3px;
	width: 8px;
	height: 4px;
	transform: rotate(-45deg);
	opacity: 1;
	transition: var(--transition-all);
}

div.checkbox-group label span {
	padding-left: 12px;
	user-select: none;
	pointer-events: none;
}

/* ==============================================
	Text Input Field & Select Field
============================================== */
div.input-group,
div.select-group {
	position: relative;
}

div.input-group label,
div.select-group label {
	position: absolute;
	top: -8px;
	left: 8px;
	padding: 0 4px;
	background-color: var(--md-sys-color-background);
	transition: var(--transition-color);
	pointer-events: none;
}

details[open] div.input-group label,
details[open] div.select-group label {
	background-color: var(--md-sys-color-surface-container-high);
}

div.input-group input[type="number"],
div.select-group select {
	appearance: none;
	width: 100%;
	box-sizing: border-box;
	padding: 15px 52px 15px 12px;
	outline: 1px solid var(--md-sys-color-outline);
	border: none;
	border-radius: var(--border-radius);
	background-color: transparent;
	transition: var(--transition-outline);
}

div.select-group select {
	padding-right: 92px;
	cursor: pointer;
}

/* Add more padding for stepper buttons */
div.input-group.has-steppers input[type="number"] {
	padding-right: 124px;
}

div.input-group input[type="number"]:hover,
div.select-group select:hover {
	outline-width: 2px;
}

div.input-group input[type="number"]:focus,
div.select-group select:focus {
	outline-width: 2px;
	outline-color: var(--md-sys-color-primary);
}

div.input-group input[type="number"]:focus+label,
div.select-group select:focus+label {
	color: var(--md-sys-color-primary);
}

div.input-group input[type="number"]:invalid {
	outline-color: var(--md-sys-color-warning);
}

div.input-group input[type="number"]:invalid:focus {
	outline-color: var(--md-sys-color-warning);
}

div.input-group input[type="number"]:invalid+label {
	color: var(--md-sys-color-warning);
}

div.select-group select option {
	/** Valid in Chrome on Windows */
	background-color: var(--md-sys-color-surface);
}


/* ==============================================
	Dropdown of Select & Details
============================================== */
details {
	outline: 1px solid var(--md-sys-color-outline-variant);
	border: none;
	border-radius: var(--border-radius);
	transition: var(--transition-background);
}

details:not([open]):hover,
details[open] {
	background-color: var(--md-sys-color-surface-container-high);
}

details:not([open]):has(input:invalid) {
	outline-color: var(--md-sys-color-warning);
}

details:not([open]):has(input:invalid):hover {
	outline-width: 2px;
}

summary {
	border: none;
	border-radius: var(--border-radius);
	position: relative;
	padding: 16px 48px 16px 16px;
	color: var(--md-sys-color-on-surface-variant);
	cursor: pointer;
	list-style: none;
	user-select: none;
	transition: var(--transition-color), var(--transition-background);
}

summary:hover {
	background-color: var(--md-sys-color-surface-container-highest);
	color: var(--md-sys-color-on-surface);
}

/* summary::-webkit-details-marker {
	display: none;
} */

/* Custom dropdown arrow */
div.select-group::before,
summary::before {
	content: "";
	position: absolute;
	top: 50%;
	right: 52px;
	width: 24px;
	height: 24px;
	transform: translateY(-50%) rotate(0deg);
	background-color: var(--md-sys-color-on-surface-variant);
	mask: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3e%3cpath d='M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z'/%3e%3c/svg%3e") no-repeat center;
	mask-size: contain;
	transition: var(--transition-transform), var(--transition-background);
}

div.select-group::before {
	pointer-events: none;
}

summary::before {
	right: 16px;
}

div.select-group:hover:not(:has(button.reset:hover))::before,
details>summary:hover::before {
	background-color: var(--md-sys-color-on-surface);
}

div.select-group:focus-within:not(:has(button.reset:focus))::before,
details[open]>summary::before {
	transform: translateY(-50%) rotate(180deg);
}


/* ==============================================
	Buttons
============================================== */
button.reset {
	position: absolute;
	top: 50%;
	right: 10px;
	transform: translateY(-50%);

	/* Touch target size */
	width: 3em;
	height: 3em;
	padding: 0;
	border: none;
	border-radius: 50%;
	background-color: transparent;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: var(--transition-background);
}

form[data-unchanged="true"] button.reset {
	background-color: transparent;
	cursor: not-allowed;
}

button.reset::before {
	content: "";
	display: block;
	width: 20px;
	height: 20px;
	mask: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3e%3cpath d='M12 5V1L7 6l5 5V7c3.31 0 6 2.69 6 6s-2.69 6-6 6-6-2.69-6-6H4c0 4.42 3.58 8 8 8s8-3.58 8-8-3.58-8-8-8z'/%3e%3c/svg%3e") no-repeat center;

	/* minimum_chrome_version: 120 */
	mask-size: 1.5em;
	background-color: var(--md-sys-color-on-surface-variant);
	transition: var(--transition-background);
}

form[data-unchanged="true"] button.reset::before {
	background-color: var(--md-sys-color-outline);
}

button.reset:hover {
	background-color: var(--md-sys-color-surface-container-highest);
}

/** Foreground color on hover */
button.reset:hover::before {
	background-color: var(--md-sys-color-warning);

	/* animation: var(--animation-rotate-360); */
}

button.reset-all {
	color: var(--md-sys-color-primary);
	padding: 10px 24px;
	outline: 1px solid var(--md-sys-color-outline);
	border: none;
	border-radius: 100px;
	background-color: var(--md-sys-color-background);
	cursor: pointer;
	transition: var(--transition-background), var(--transition-color);
}

button.reset-all:hover {
	color: var(--md-sys-color-warning);
	background-color: var(--md-sys-color-surface-container-highest);
}


/* ==============================================
	Stepper Buttons (Custom Increment/Decrement for numeric inputs)
============================================== */
div.input-group button.stepper {
	position: absolute;
	top: 50%;
	right: 52px;
	transform: translateY(-50%);
	width: 2.5em;
	height: 2.5em;
	padding: 0;
	border: none;
	border-radius: 50%;
	background-color: transparent;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: var(--transition-background);
}

div.input-group button.stepper.increment+button.stepper.decrement,
div.input-group button.stepper.decrement+button.stepper.increment {
	right: 88px;
}

div.input-group button.stepper:hover {
	background-color: var(--md-sys-color-surface-container-highest);
}

div.input-group button.stepper::before {
	content: "";
	display: block;
	width: 20px;
	height: 20px;
	background-color: var(--md-sys-color-on-surface-variant);
	mask-size: 1.5em;
}

div.input-group button.stepper.increment::before {
	mask: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3e%3cpath d='M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z'/%3e%3c/svg%3e") no-repeat center;
}

div.input-group button.stepper.decrement::before {
	mask: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3e%3cpath d='M19 13H5v-2h14v2z'/%3e%3c/svg%3e") no-repeat center;
}


/* ==============================================
	Status Message
============================================== */
div.status {
	padding: 4px;
	opacity: 0;
	transition: var(--transition-opacity);
}
